div.footer{
    background: #fff;
    width: 100vw;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.copyRight p{
    color: #459361;
}