div.randomPage{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.randomPageBG{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.randomPageContent{
    width: 950px;
    height: 600px;
    padding: 20px;
    background: #ffffff;
    filter: drop-shadow(0 0 8px #6fed75);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.topContent{
    width: 900px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div.close img{
    width: 30px;
    height: 30px;
    margin-left: 200px;
    cursor: pointer;
}

div.chatBox{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/chatBoxx.png);
    background-repeat: no-repeat;
    background-size: 500px 100px;
}

p.chatBoxMsg{
    color: #459361;
    font-size: 30px;
    font-weight: 700;
    margin-top: -18px;
}

div.randomContent{
    width: 850px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

img.aunty{
    position: absolute;
    left: 0;
    width: 275px;
    height: 475px;
}

div.bookGroup{
    position: absolute;
    right: 140px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.reRandom{
    width: 130px;
    height: 40px;
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background: rgb(69, 147, 97);
    background: linear-gradient(0deg, rgb(69, 147, 97) 0%, rgb(99, 190, 132) 100%);
    border: none;
}

button.reRandom:hover {
    background: rgb(69, 147, 97);
 background: linear-gradient(0deg, rgb(99, 190, 132) 0%, rgb(138, 233, 173) 100%);
 }

.randomBook {
    transform-style: preserve-3d;
    position: relative;
    height: 250px;
    cursor: pointer;
    backface-visibility: visible;
}

span.randomResult{
    position: absolute;
    top: 100px; left: 30px;
    width: 200px;
    height: 50px;
}

span.randomCover{
    position: absolute;
    top: 100px; left: 50px;
    width: 110px;
    height: 30px;
    text-align: center;
}

span.randomCover h3{
    width: 110px;
    height: 30px;
    border-radius: 3px;
    background-color: #ffffff;
    color: #333;
}

.front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 215px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front, .page1, .page3, .page5 {
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}
  
.back, .page2, .page4, .page6 {
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}

.front{
    border-style: none none none solid;
    border-left-color: #597e56;
    border-left-width: 8px;
    box-shadow: inset 0px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);;
}

.front, .back {
    background: #6fed75;
}

.page1, .page2 { 
    background: #efefef;
}
  
.page3, .page4 {
    background: #f5f5f5;
}
  
.page5, .page6 {
    background: #fdfdfd;
}

.randomBook:hover .front {
    transform: rotateY(-175deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}
  
.randomBook:hover .page1 {
    transform: rotateY(-165deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    transition-delay: 0.1s;
}
  
.randomBook:hover .page2 {
    transform: rotateY(-15deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    transition-delay: 0.6s;
}
  
.randomBook:hover .page3 {
    transform: rotateY(-155deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    transition-delay: 0.2s;
}
  
.randomBook:hover .page4 {
    transform: rotateY(-25deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    transition-delay: 0.5s;
}
  
.randomBook:hover .page5 {
    transform: rotateY(-145deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    transition-delay: 0.3s;
}
  
.randomBook:hover .page6 {
    transform: rotateY(-35deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    transition-delay: 0.4s;
}
  
.randomBook:hover .back {
    transform: rotateY(-10deg) scale(1.1);
    transition-delay: 0.7s;
}

@media (max-width:500px) {
    .randomPageContent{
        width: 300px;
        height: 200px;
    }
    div.topContent, img.aunty{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    div.bookGroup{
        position: absolute;
        left: 290px;
        top: 0;
        width: 280px;
        height:165px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .front, .back, .page1, .page2, .page3, .page4, .page5, .page6 {
        width: 125px;
        height: 120px;
    }
    span.randomResult{
        position: absolute;
        top: 20px; left: 10px;
        width: 100px;
        height: 25px;
    }
    
    span.randomCover{
        position: absolute;
        top: 50px; left: 10px;
        width: 100px;
        height: 25px;
        text-align: center;
    }
    
    span.randomCover h3{
        width: 100px;
        height: 25px;
        border-radius: 3px;
        background-color: #ffffff;
        color: #333;
        font-size: 16px;
    }
    button.reRandom{
        width: 90px;
        height: 20px;
        margin-top: 10px;
        font-size: 14px;
    }
    
}